body {
  text-align: center;
  line-height: 12px;
  font-family: sans-serif;
  color: #111;
  background-image: url("https://images.pexels.com/photos/4403924/pexels-photo-4403924.jpeg");
  background-size: cover;
}

form {
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  color: #fff;
  margin-left: 250px;
  margin-right: 250px;
  padding: 40 40 40 40;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}

#name {
  width: 100%;
  margin-bottom: 10px;
}

#email {
  width: 100%;
  margin-bottom: 10px;
}

#number {
  width: 100%;
  margin-bottom: 10px;
}

#dropdown {
  width: 100%;
  margin-bottom: 10px;
}

#submit {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;        
}
