h1 {
  text-align: center;
  padding: 40 40 40 40;
  color: #fff;
}

p {
  text-align: center;
  color: #fff;
}

body {
  text-align: center;
  line-height: 12px;
  font-family: sans-serif;
  color: #111;
  background-image: url("https://images.pexels.com/photos/4403924/pexels-photo-4403924.jpeg");
  background-size: cover;
}

form {
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  color: #fff;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: center;
  padding: 40 40 40 40;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 2rem;
}

#name {
  width: 100%;
  margin-bottom: 10px;
}

#email {
  width: 100%;
  margin-bottom: 10px;
}

#number {
  width: 100%;
  margin-bottom: 10px;
}

#dropdown {
  width: 100%;
  margin-bottom: 10px;
}

#submit {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  min-height: 120px;
  padding: 0.625rem;
  resize: vertical;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
}

#submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5rem;
}
