#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 175px;
    top: 56px;
    height: 100%;
    bottom: 0px;
    margin-left: -175px;
    overflow-y: auto;
}

#main-doc {
    top: 61px;
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
