
  /* Set the background color of body to tan */
  body {
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* On screens that are 600px or less, set the background color to olive */
  @media (max-width: 600px) {
    body {

    }
  }

  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

#home {
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
}

#email {
  max-width: 300px;
  width: 100%;
  margin: 30px;
}

#submit {
  max-width: 200px;
  width: 100%;
  margin: 30px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
